.btn {
    width: 75px;
    color: white;
    background-color: #3ac697;
    border: none;
    border-radius: 2.5px;
    padding: 10px;
}
.btn:hover {
    cursor: pointer;
    background-color: #33ab83;
}