.listingTab {
    width: 100%;
    height: 100%;
}
.wrapper {
    margin-left: 49px;
}
.listing-title {

    font-size: 33px;
}
.listing-subtitle {
    font-weight: 500;
    font-size: 18px;
}
.dashboard-item {
    display: flex;
    margin-left: 25px;
}
.d-item {
    width: 230px;
    height: 120px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 30px;

}
.add-button {
    margin-left: 10px;
}
.items{
    cursor: pointer;
}
.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    margin-top: 75px;
}
.listing {
    margin-top: 80px;
    position: relative;
    right: 20px;
}
.dashboard {
    margin-top: 30px;
}
.search-button {
    position: relative;
    right:36px;
}
.form-wrapper-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    margin-top: 75px;
}
.tasklist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 550px;
    margin-left: 137px;
    margin-top: 38px;
    height: 370px;
    overflow-x: hidden;
}
ul {
    display: block;
    height: 100%;
    list-style-type: none;
    margin-left: 11px;
    overflow-y: auto;

  }
ul li {
    padding-top: 10px;
    width: 250px;
}
.status {
    position: relative;
    margin-left: 15px;
    top: 3px;
}
.input {
    width: 200px;
    height: 30px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    border: none;
    outline: none;
    border-radius: 2.5px;
    border-bottom: 2px solid rgb(244, 243, 243);
    background: transparent;
    }
    .input:focus {
        border-bottom: 2px solid white;
    }
.search {
    margin-right: 20px;
    position: relative;
    right: 36px;
    top: 3px;
    cursor: pointer;
    padding: 6px;
    border-radius: 3px;
}
.completed-task{
    margin-top: 156px;
}
.delete{
    position: relative;
    left: 180px;
    top: -22px;
    z-index: 999999;
}
.delete:hover {
    cursor: pointer;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #64c5bb;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #64c5bb;
  }
.arrow{
    margin-top: 5px;
    position: absolute;
    margin-left: 5px;
    font-size: 18px;
    color: blue;
}
.no_task_img{
    width: 160px;
    position: absolute;
    top:300px

}
.more {
    color: blue;
}
.more:hover{
    cursor: pointer;
}
  .switch-toggle {
    margin-left: 10px;
	--width: 132px;
    --height: 31px;
    --offset: 2px;
    --radius: 4px;
    position: relative;
    width: var(--width);
    height: var(--height);
    padding: var(--offset);
    background: rgba(227, 229, 232, 0.5);
    border-radius: var(--radius);
    font-size: 16px;
    font-weight: 500;
    line-height: 0.3;
    font-style: normal;


	input[type="checkbox"] {
		cursor: pointer;
		position: absolute;
		inset: 0;
		appearance: none;
		z-index: 2;

		&:checked {
			+ label.switch-toggle-label {
				&:before {
					translate: 100% 0;
				}
				span {
					&:nth-child(1) {
						color: gray;
					}
					&:nth-child(2) {
						color: #fff;
					}
				}
			}
		}

		& + label.switch-toggle-label {
			position: absolute;
			inset: var(--offset, 0);
			padding: 10px 0;
			display: block;
			user-select: none;
			pointer-events: none;
			display: grid;
			gap: 2px;
			grid-auto-flow: column;
			grid-auto-columns: 1fr;
			place-items: center;

			&:before {
				content: "";
				position: absolute;
				width: 50%;
				inset: 0;
				background: #3dca9b;
				border-radius: calc(var(--radius) - var(--offset));
				box-shadow: 0px 10px 20px 0px rgba(16, 39, 68, 0.1);
				translate: 0 0;
				transition: translate 250ms cubic-bezier(0.93, 0.26, 0.07, 0.69);
			}

			span {
				position: relative;
				transition: 200ms linear;

				&:nth-child(1) {
					color: #FFF;
				}

				&:nth-child(2) {
					color: gray;
				}
			}
		}
	}
}
