.listingTab {
    width: 100%;
    height: 100%;
}
.wrapper {
    margin-left: 49px;
}
.listing-title {

    font-size: 33px;
}
.listing-subtitle {
    font-weight: 500;
    font-size: 18px;
}
.dashboard-item {
    display: flex;
    margin-left: 25px;
}
.d-item {
    width: 230px;
    height: 120px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 30px;

}
.add-button {
    margin-left: 10px;
}
.items{
    cursor: pointer;
}
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    margin-top: 35px;
}
.tasklist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 550px;
    margin-left: 163px;
    margin-top: 38px;
}
ul {
    display: block;
    list-style-type: none;

  }
ul li {
    padding-top: 10px
}