body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  background-color: rgb(40, 40, 40);
  /* opacity: 0.5; */
  /* background: -webkit-linear-gradient(to top, #7487dc, #54c0ac);
    background: linear-gradient(to top, #5368c5, #48aa98); */
}